<p class="text-4xl text-center my-10 text-blue-800 text-green-600 font-semibold">Search Rides</p>

<div class="m-10">
  <form class="group relative my-10">
    <svg width="20" height="20" fill="currentColor"
      class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-blue-500"
      aria-hidden="true">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
    </svg>
    <div class="flex flex-row"><input ng-model="lpsearch"
        class="mr-4 h-14 focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 pl-10 ring-1 ring-slate-200 shadow-sm shadow-lg shadow-blue-500/50"
        type="text" aria-label="Filter projects" placeholder="Search by Starting, Destination, Date or Time">
  </form>
 </div> 
  <table id="myTable" class="display border-collapse border border-slate-400 my-10 text-center mx-auto">
    <thead>
      <tr>
        <th class="border border-slate-300 p-2">SR No.</th>
        <th class="border border-slate-300 p-2">Name</th>
        <th class="border border-slate-300 p-2">Starting Location</th>
        <th class="border border-slate-300 p-2">(from)City, State</th>
        <th class="border border-slate-300 p-2">Destination</th>
        <th class="border border-slate-300 p-2">(to)City, State</th>
        <th class="border border-slate-300 p-2">Date</th>
        <th class="border border-slate-300 p-2">Time</th>
        <th class="border border-slate-300 p-2">Seats Available</th>
        <th class="border border-slate-300 p-2 bg-green-600 text-white">Request Ride</th>
      </tr>
    </thead>
    <tbody>
      <tr class="m-0 p-0 border-none" ng-repeat="x in ridepublished | filter:lpsearch">
        <th class="border border-slate-300 p-2">{{x.srnum+1}}</th>
        <th class="border border-slate-300 p-2">{{x.by}}</th>
        <th class="border text-left border-slate-300 p-2">{{x.from}}</th>
        <th class="border text-left border-slate-300 p-2">{{x.destsc}}
        </th>
        <th class="border text-left border-slate-300 p-2">{{x.dest}}</th>
        <th class="border text-left border-slate-300 p-2">{{x.destsc}}
        </th>
        <th class="border border-slate-300 p-2">{{x.datetime|date:"dd-mm-yyyy"}}</th>
        <th class="border border-slate-300 p-2">{{x.datetime|date:'h:mma'}}</th>
        <th class="border border-slate-300 p-2">{{x.avlseats}}</th>
        <th class="border border-slate-300 p-2 bg-green-600 text-white cursor-pointer"><a href="#!/searchRides/request/{{x.rideid}}"><i
              class="text-3xl bi bi-circle-fill"></i></a></th>
      </tr>
    </tbody>
  </table>
</div>