<div class="block p-6 mx-auto my-2 rounded-lg shadow-lg bg-white max-w-md">
    <form>
        <div class="grid grid-cols-2 gap-4">
            <div class="form-group mb-6">
                <input type="text" ng-model="fn" class="form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput1"
                    aria-describedby="emailHelp123" placeholder="First name">
            </div>
            <div class="form-group mb-6">
                <input type="text" ng-model="ln" class="form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput2"
                    aria-describedby="emailHelp124" placeholder="Last name" required>
            </div>
        </div>
        <div class="form-group mb-6">
            <input type="email" ng-model="email" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput3"
                placeholder="Email address" required>
        </div>
        <div class="form-group mb-6 flex content-center flex-row">
            <p class="my-auto px-2">+91</p><input type="tel" ng-model="mno" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput4"
                placeholder="Mobile No." pattern="[0-9]{10}" required>
        </div>
        <div class="form-group mb-6">
            <input type="password"  ng-model="password" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput5"
                placeholder="Password" required>
        </div>
        <div class="form-group mb-6">
            <input type="text" ng-model="lno" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput6"
                placeholder="Driving License No." required>
        </div>
        <div class="form-group form-check text-center mb-6">
            <input type="checkbox" ng-model="tmc"
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain mr-2 cursor-pointer"
                id="exampleCheck7" ng-model="TAC" required>
            <label class="form-check-label inline-block text-gray-800" for="exampleCheck25">Accept all Terms and
                Conditions</label>
        </div>
        <button type="submit" ng-click="addUser()" class="
        w-full
        cursor-pointer
        px-6
        py-2.5
        bg-blue-600
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-blue-700 hover:shadow-lg
        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-blue-800 active:shadow-lg
        transition
        duration-150
        ease-in-out">Sign up</button>
    </form>
</div>