<!-- Date:Format:AngularJs  <tt>value = {{date | date: "yyyy-MM-dd"}}</tt> -->

<div style="background: url(/images/carpool.jpg);background-attachment: fixed; background-size: cover;">

    <div class=" md:mx-10 text-center relative overflow-hidden bg-no-repeat bg-cover" style="
    height: 650px;
  ">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="flex justify-center items-center h-full">
                <div class="text-white">
                    <h2 class="font-semibold text-4xl mb-4">Publish Ride</h2>
                    <h4 class="font-semibold text-xl mb-6">Become a Carpool driver and share your trip with passengers
                        to
                        save money on transportation.</h4>
                    <a class="inline-block px-7 py-3 mb-1 border-2 border-gray-200 text-gray-200 font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                        href="index.html#!/publishRides/#publishForm" role="button" data-mdb-ripple="true"
                        data-mdb-ripple-color="light">Publish</a>
                </div>
            </div>
        </div>
    </div>



    <section id="publishForm" class="mb-0 md:m-10 md:p-10">
        <div class="bg-green-400 text-center p-4 rounded-full" ng-show="alert" role="alert">
            <b class="text-center">Suceesfully Created Ride</b>
        </div>
        <div class="block p-6 mx-auto my-2 rounded-lg shadow-lg bg-white max-w-md">
            <form>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-6">
                        <input type="text" ng-model="fn" class="form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput123"
                            aria-describedby="emailHelp123" placeholder="First name">
                    </div>
                    <div class="form-group mb-6">
                        <input type="text" ng-model="ln" class="form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput124"
                            aria-describedby="emailHelp124" placeholder="Last name" required>
                    </div>
                </div>
                <div class="form-group mb-6">
                    <input type="email" ng-model="email" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput125"
                        placeholder="Email address" required>
                </div>
                <div class="form-group mb-6 flex content-center flex-row">
                    <p class="my-auto px-2">+91</p><input type="tel" ng-model="mno" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput125"
                        placeholder="Mobile No." pattern="[0-9]{10}" required>
                </div>

                <div class="form-group mb-6">
                    <input type="text" ng-model="lno" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput126"
                        placeholder="Driving License No." required>
                </div>

                <div class="wrapper">
                    <div class="search-input" ng-class="{active: showit}">
                        <input ng-blur="tosearching()" ng-model="prsearch" type="text" placeholder="Starting Point..">
                        <div class="autocom-box">
                            <!-- here list are inserted from javascript -->
                            <li ng-click="storeone(prsearch)">{{prsearch}}</li>
                            <li ng-repeat="x in prsearchresult" ng-click="storedloc(x)">{{x.address}}</li>
                        </div>
                        <div class="icon"><i class="fas fa-search"></i></div>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="search-input" ng-class="{active: desshowit}">
                        <input ng-blur="dessearching()" ng-model="desprsearch" type="text"
                            placeholder="Destination Point..">
                        <div class="autocom-box">
                            <!-- here list are inserted from javascript -->
                            <li ng-click="desstoreone(desprsearch)">{{desprsearch}}</li>
                            <li ng-repeat="x in desprsearchresult" ng-click="desstoredloc(x)">{{x.address}}</li>
                        </div>
                        <div class="icon"><i class="fas fa-search"></i></div>
                    </div>
                </div>

                <div class="form-group mb-6">
                    <input type="datetime-local" ng-model="datetime" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput126"
                        required>
                </div>
                <div class="form-group mb-6">
                    <input type="number" ng-model="seats" class="form-control block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput126"
                        placeholder="No of available Seats" required>
                </div>
                <p class="my-4 text-center text-red-600">Note: On Cancelation of Ride Account May Suspend.</p>
                <button type="submit" ng-click="addRide()" class="
            w-full
            cursor-pointer
            px-6
            py-2.5
            bg-blue-600
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out">Publish Ride</button>
            </form>
            <div class="bg-white p-4 my-2 m-auto mt-4 rounded-full w-fit border border-2">

                <!-- Whatsapp -->
               <a href="whatsapp://send?text=Hello guys, I am travelling from {{from}} to {{dest}} on {{datetime}} to join me click below link {{link}}" class="flex justify-center space-x-4 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-7 h-7" style="color: #128c7e;">
                    <path fill="currentColor"
                        d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
                </svg>
                <p class="text-sm">Share so your <b>friends</b> can join you</p>
               </a>
            </div>
            <div class="flex flex-wrap justify-center border border-2 space-x-4 bg-white p-4 my-2 m-auto rounded-full w-fit">
                <p style="word-break: break-word;">Link ➡️ {{link}}</p>
            </div>
        </div>

       
    </section>
</div>