<section class="text-gray-600 body-font relative m-10 mt-2">
    <div class="flex md:flex-row gap-x-6 flex-col">
        <div id="mymap"
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);height:80vh;width:88vw;">
        </div>
        <div style="box-shadow: 0 4px 8px 0 rgba(16, 240, 199, 0.485), 0 6px 20px 0 rgba(33, 158, 207, 0.54);"
            class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 py-4 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
            <h2 class="text-gray-900 mb-1 font-medium title-font text-center text-2xl">Enjoy Ride</h2>
            <p class="leading-relaxed mb-2 text-gray-600">Hope you are happy with our Services. Below given are the
                <i>estimated data*</i>
            </p>
            <div class="flex  flex-col justify-center">
                <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput5"
                        class="form-label inline-block mb-2 text-gray-700">Distance</label>
                    <input type="text" ng-model="distance" class="
                      form-control
                      block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-gray-100 bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " id="exampleFormControlInput5" value="Readonly input here..." aria-label="readonly input example"
                        readonly />

                </div>
                <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput5"
                        class="form-label inline-block mb-2 text-gray-700">Time</label>
                    <input type="text" ng-model="time" class="
                      form-control
                      block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-gray-100 bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " id="exampleFormControlInput5" value="Readonly input here..." aria-label="readonly input example"
                        readonly />
                </div>
                <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput5" class="form-label inline-block mb-2 text-gray-700">Fuel
                        Cost</label>
                    <input type="number" ng-blur="calc()" ng-model="fuelPrice" class="
                              form-control
                              block
                              w-full
                              px-3
                              py-1.5
                              text-base
                              font-normal
                              text-gray-700
                              bg-gray-100 bg-clip-padding
                              border border-solid border-gray-300
                              rounded
                              transition
                              ease-in-out
                              m-0
                              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                            " id="exampleFormControlInput5" value="" placeholder="Enter Fuel price in your area"
                        aria-label="readonly input example" />
                </div>
                <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput5"
                        class="form-label inline-block mb-2 text-gray-700">Passangers(If all seats are
                        fulled)</label>
                    <input ng-model="driverseats" type="text" class="
                                      form-control
                                      block
                                      w-full
                                      px-3
                                      py-1.5
                                      text-base
                                      font-normal
                                      text-gray-700
                                      bg-gray-100 bg-clip-padding
                                      border border-solid border-gray-300
                                      rounded
                                      transition
                                      ease-in-out
                                      m-0
                                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                                    " id="exampleFormControlInput5" value="Readonly input here..."
                        aria-label="readonly input example" readonly />
                </div>
                <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput5" class="form-label inline-block mb-2 text-gray-700">Estimated
                        Cost</label>
                    <input ng-model="totalcost" type="text" class="
                                              form-control
                                              block
                                              w-full
                                              px-3
                                              py-1.5
                                              text-base
                                              font-normal
                                              text-gray-700
                                              bg-gray-100 bg-clip-padding
                                              border border-solid border-gray-300
                                              rounded
                                              transition
                                              ease-in-out
                                              m-0
                                              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                                            " id="exampleFormControlInput5" value="Readonly input here..."
                        aria-label="readonly input example" readonly />
                </div>
            </div>
</section>


<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 pt-24 pb-2 mx-auto">
        <div class="flex flex-col text-center w-full mb-10">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">One Step to Go!</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">Check all the details carefully</p>
        </div>
    </div>
    <div>
        <div class="flex justify-evenly md:flex-row flex-col md:mx-20 mx:auto px-2 md:p-28 p-2 border-2 border-gray-800">
            <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white border-2 border-indigo-500 relative">
                <span class="bg-indigo-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">⭐⭐⭐⭐</span>
                <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg"
                    src="/images/classic-car.png" alt="" />
                <div class="p-6 flex flex-col justify-start">
                    <p>Ride Publisher</p>
                    <h5 class="text-gray-900 text-xl font-medium mb-2">{{drivername}}</h5>
                    <p
                     class="text-gray-700 text-base mb-4">Mobile no. : {{drivermno}}
                    </p>
                    <p
                    class="text-gray-700 text-base mb-4">Email : {{driveremail}}
                   </p>
                    <p class="text-gray-600 text-xs">Verified</p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white border-2 border-indigo-500 relative">
                <span class="bg-indigo-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">😎😎</span>
                <img class="p-2 w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg"
                    src="/images/suv.png" alt="" />
                <div class="p-6 flex flex-col justify-start">
                    <p>Your Details</p>
                    <h5 class="text-gray-900 text-xl font-medium mb-2">{{fn +" "+ ln}}</h5>
                    <p
                     class="text-gray-700 text-base mb-4">Mobile no. : {{mno}}
                    </p>
                    <p
                    class="text-gray-700 text-base mb-4">Email : {{email}}
                   </p>
                    <p class="text-gray-600 text-xs">Accept all T&C</p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" ng-click="submitride()" width="100" height="100" fill="#07f9f3" ng-click="submitride()" class="self-end animate-bounce cursor-pointer bi bi-arrow-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg>
        </div>
      
       
    </div>
  </section>