body{
    min-height: 100vh;
}
#publishForm{
    background: rgb(10,244,9,0.5);
    background: linear-gradient(-45deg, rgba(10,244,9,0.4) 0%, rgba(17,208,226,0.4) 36%, rgba(188,21,238,0.4) 67%, rgba(255,0,35,0.4) 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper{
  max-width: 450px;
  margin-bottom: 25px;
}
.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.search-input.active input{
  border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}
.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
.tab1{
  background-image: linear-gradient( 135deg, rgba(206, 159, 252,0.5) 10%, rgba(115, 103, 240,0.5) 100%);
}
.tab2{
background-image: linear-gradient(45deg, rgba(133, 255, 189,0.5) 0%, rgba(255, 251, 125,0.5) 100%);
}